
/*
https://coolors.co/033030-499f68-77b28c-c2c5bb-b4654a
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.w3schools.com/css/css_tooltip.asp
https://www.onlinevideoconverter.com/success
*/

body {
background-color: #033030;
background: rgb(3, 48, 48);
background: linear-gradient(90deg, rgba(3, 48, 48, 1) 0%, rgba(180, 101, 74, 1) 100%);
font-family: 'Aldrich';
color: #C2C5BB;
}

p {
text-align: left;
line-height: 120%;
}

h3 {
padding: 4px;
font-size: 30px;
}

h4 {
padding: 4px;
font-size: 25px;
}

div {
text-align: center;
}

#wrapper {
margin: 0 auto;
margin-top: 3%;
width: 90%;
}

#header {
display: flex;
border-bottom: 1px solid;
border-image: linear-gradient(90deg, rgba(180, 101, 74, 1) 0%, rgba(3, 48, 48, 1) 100%) 1;
flex-wrap: wrap;
justify-content: space-between;
}

#logo {
text-align: left;
}

#clock-container {
display: flex;
align-self: center;
}

#nav {
display: flex;
align-self: flex-end;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #499F68;
top: 100%;
}

li {
border-right: 1px solid #033030;
float: left;
}

li:last-child {
border-right: none;
border-radius: 10px 0px 10px 0px;
}

li a {
display: block;
color: #C2C5BB;
text-align: center;
padding: 10px 10px;
text-decoration: none;
}

li a:hover, .project-button:hover {
/*background-color: #C2C5BB;
background: linear-gradient(90deg, rgba(73, 159, 104, 1) 0%, rgba(3, 48, 48, 1) 100%);*/
color: #033030;
}

#active {
background-color: #033030;
color: #C2C5BB;
}

#container, #projects-container {
margin: 10px 0px 10px 0px;
}

#preface-container {
border-bottom: 1px solid;
border-image: linear-gradient(90deg, rgba(180, 101, 74, 1) 0%, rgba(3, 48, 48, 1) 100%) 1;
padding-bottom: 10px;
}

#preface-content {
display: flex;
justify-content: center;
height: 400px;
}

#projects-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.project {
width: 30%;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}

.project-pic, .project-text, #preface-pic {
width: 100%;
}

.pic {
width: 100%;
max-width: 300px;
max-height: 300px;
border-radius: 30px;
}

#preface-pic-div {
text-align: right;
}

#preface-pic, #preface-text {
max-width: 400px;
max-height: 400px;
}

.project-text {
margin-left: 5px;
}

.project-button {
display: block;
margin: 5px 0px;
padding: 10px;
border-radius: 10px;
max-width: 105px;
background-image: linear-gradient(90deg, rgba(119, 178, 140, 1) 0%, rgba(73, 159, 104, 1) 100%);
color: #C2C5BB;
text-align: center;
text-decoration: none;
}

#footer {
border-top: 1px solid;
border-image: linear-gradient(90deg, rgba(180, 101, 74, 1) 0%, rgba(3, 48, 48, 1) 100%) 1;
padding-top: 5px;
}

.footer-text, .footer-link {
text-align: center;
}

.footer-link a {
display: inline-block;
position: relative;
color: #77B28C;
color: linear-gradient(90deg, rgba(119, 178, 140, 1) 0%, rgba(73, 159, 104, 1) 100%);
text-decoration: none;
}

.footer-hover {
visibility: hidden;
position: absolute;
z-index: 1;
top: 1px;
left: 101%;
padding-top: 1px;
border-radius: 10px;
width: 70px;
background-color: #033030;
color: #C2C5BB;
font-size: 13px;
text-decoration: none;
}

.footer-link a:hover .footer-hover {
visibility: visible;
}