#container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

#buttonContainer {
display: flex;
flex-wrap: wrap;
}

#buttonContainer button {
margin-right: 10px;
}

#container1 {
border-right: 2px solid black;
width: 49%;
height: auto;
min-height: 200px;
/*  vertical-align: top; DOESNT SEEM TO DO ANYTHING LMAO    */
}

#container2 {
border-left: 2px solid white;
width: 49%;
height: auto;
}

.card {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5px;
box-shadow: 0 0 5px #000000;
}

.topHover, .bottomHover {
display: none;
height: 10px;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes fadeIn {
  0% { background-color: rgba(0, 0, 0, 0);
       height: 0px; }
  100% { background-color: rgba(0, 0, 0, 0.5);
       height: 10px; }
}

@-webkit-keyframes fadeOut {
  0% { background-color: rgba(0, 0, 0, 0.5);
       height: 10px; }
  100% { background-color: rgba(0, 0, 0, 0);
       height: 0px; }
}

.cardTextContainer {
display: flex;
}

.cardText {
width: 100%;
/*border: 2px solid green;*/
}

.cardName {
}

.cardInfo {
}

.cardFeature {
}

textarea {
display: flex;
}

.cardEditButton {
padding: 0px 10px;
display: inline-block;
cursor: pointer;
}

.editBar1, .editBar2, .editBar3 {
width: 10px;
height: 5px;
background-color: #000000;
margin: 6px 0;
transition: 0.4s;
}

.change .editBar1 {
transform: rotate(-45deg) translate(-8px, 13px) scaleX(2);
}

.change .editBar2 {
opacity: 0;
}

.change .editBar3 {
transform: rotate(45deg) translate(-7px, 0px);
}