/*
https://coolors.co/033030-499f68-77b28c-c2c5bb-b4654a
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.w3schools.com/css/css_tooltip.asp
https://www.onlinevideoconverter.com/success
*/

body {
background-color: #033030;
background: rgb(3, 48, 48);
background: linear-gradient(90deg, rgba(3, 48, 48, 1) 0%, rgba(180, 101, 74, 1) 100%);
font-family: 'Aldrich';
color: #C2C5BB;
}

p {
text-align: left;
line-height: 120%;
}

h3 {
padding: 4px;
font-size: 30px;
}

h4 {
padding: 4px;
font-size: 25px;
}

div {
text-align: center;
}

#wrapper {
margin: 0 auto;
margin-top: 3%;
width: 90%;
}

#header {
display: flex;
border-bottom: 1px solid;
border-image: linear-gradient(90deg, rgba(180, 101, 74, 1) 0%, rgba(3, 48, 48, 1) 100%) 1;
flex-wrap: wrap;
justify-content: space-between;
}

#logo {
text-align: left;
}

#nav {
display: flex;
align-self: flex-end;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #499F68;
top: 100%;
}

li {
border-right: 1px solid #033030;
float: left;
}

li:last-child {
border-right: none;
border-radius: 10px 0px 10px 0px;
}

li a {
display: block;
color: #C2C5BB;
text-align: center;
padding: 10px 10px;
text-decoration: none;
}

li a:hover, .project-button:hover {
/*background-color: #C2C5BB;
background: linear-gradient(90deg, rgba(73, 159, 104, 1) 0%, rgba(3, 48, 48, 1) 100%);*/
color: #033030;
}

#active {
background-color: #033030;
color: #C2C5BB;
}